/* ---- Main Navigation Menu --- */
   main_nav{
      /*width:972px;
      height:90px;*/
      background:url(../images/menu_bar.png)
      left top no-repeat;
      /*position:absolute;*/
      bottom:0;
      left:0
   }
   
   main_nav li{
	 position: relative;
	 display: block;
   }
   
   main_nav ul {
      list-style: none;  /* remove bullet points*/
      margin: 0;
   }
    
   /* make unordered list elements flow in one line */
   main_nav > ul > li{
      float: left;
      height: 78px;
      display: inline-block;
      /*width: 130px;*/
      padding-right: 1.4em; /*spacing b/n tabs*/
   }
    

   /* line-height*/
   main_nav > ul > li > a{
      display: block;
      line-height:20px;
      text-decoration:none;
      text-align:center;
      color: black;
      font-style:normal;
      font-size: 18px;
      font-family:"MS Reference Sans Serif", Times, Serif; /*use MS Ref. Sans Serif; if the font style doesn't exist, use any types of Times or Serif*/
      font-weight: normal;
      border-left: 1px solid #5a5c62;
      padding-left: 1em; /*spacing b/n tabs*/
   }

   /*Remove borders from the left-most and right-most menu tabs*/
   main_nav > ul > li.element1 > a{border:none}
   
   /* make room between the top of drop-down and global nav bar*/
   main_nav > ul > li > ul > li.subelement1{
      padding-top: .8em;
   }
   
   /* left-align drop-down elements with practice area element*/
   main_nav > ul > li > ul > li{
      padding-left: 1.5em;
      padding-bottom: .2em;
      font-size: 14px;
   }

/* Drop down menu */
   /* Hide drop-down menu */
   main_nav > ul ul{
		position:absolute; 
		/*z-index:100;
		left:5px;
		top:12px;
		padding:0 1px;
		width:170px;*/
		display:none 
	} 

/*main_nav > ul ul a:hover{
		text-decoration:none;
		background-color:#616666
	}
*/


/*
#lowerinfo{
border-style:solid;
border-width: 0px 1px 0px 0px;
height:150px;
border-color:#c40c1d;
padding-right:5px;
padding-left:10px;
}

#banner_nav{
background:#c40c1d;
}
#searchbar{
 padding:35px 0px 0px 200px;


}


#banner_nav li{
font-size:15px;
float:left;
width:80px;
display:block;
margin-left: 0px;
margin-bottom:15px;
padding: 0px 0px 0px 0px ;

border-style:solid;
border-width:0px 0px 0px 0px;
color:white;
text-align:center;
padding-top:10px;
}

.active{
text-decoration: underline;
font-weight: bold;
background:green;
}


.menu{
text-align:right;
padding:20px;
}

h1{
color:white;
}

h3{
color:white;
}

#topper{
border-style:solid;
border-right-width:0px;
border-left-width:0px;
border-top-width:0px;
border-bottom-width:1px;
border-color:#c40c1d;

height:500px;
}



.row{
padding-top:0px;
}

.container{
padding: 10px;
-webkit-border-radius: 10px;

}

#everything{
background: url('../images/husk.png') ;
height:1310px;
}

ul {
list-style-type: none;
}

#breadcrumb{
margin-right:200px;

}

.breadcrumb a{
color:black;

}






#banner{
height:125px;

-webkit-border-radius: 10px 0px 0px 0px;

-moz-border-radius: 10px 0px 0px 0px;


/*
background: url('../images/louisiana_banner2.png');
}

#banner li{
color:black;

float:right;

width:105px;
padding-top:12px;
}




#maincontent{
height: 980px ;
background:white;


}

#footer {
margin-top:12px;
clear: both;
width: 940px;
background-color: #9A987D;
padding: 10px 0px 0px 0px;
border-color: #999;
border-style: solid;
border-width: 1px 1px 1px 1px;
position:absolute;
-webkit-border-radius: 0px 0px 10px 0px;
-moz-border-radius: 0px 0px 10px 0px;
height:80px;
}

#footer li{
height:20px;
font-size:12px;
float:left;
width:135px;
display:block;
margin-left: 0px;
margin-bottom:0px;
padding: 0px 5px 0px 5px ;
border-style:solid;
border-width:0px 1px 0px 0px;
color:white;
text-align:center;
}
*/