/* ---- Main Navigation Menu --- */
   main_nav li{
	 position:relative;
	 display:block;
   }
   
   main_nav ul {
      list-style: none;  /* remove bullet points*/
      margin: 0;
      font-size: 16px;
      padding: 0em; /*spacing b/n tabs*/
   }
    
   /* make unordered list elements flow in one line */
   main_nav > ul > li{
      float:left;
      height:78px;
      display:inline-block;
   }
    










/*
#lowerinfo{
border-style:solid;
border-width: 0px 1px 0px 0px;
height:150px;
border-color:#c40c1d;
padding-right:5px;
padding-left:10px;
}

#banner_nav{
background:#c40c1d;
}
#searchbar{
 padding:35px 0px 0px 200px;


}


#banner_nav li{
font-size:15px;
float:left;
width:80px;
display:block;
margin-left: 0px;
margin-bottom:15px;
padding: 0px 0px 0px 0px ;

border-style:solid;
border-width:0px 0px 0px 0px;
color:white;
text-align:center;
padding-top:10px;
}

.active{
text-decoration: underline;
font-weight: bold;
background:green;
}


.menu{
text-align:right;
padding:20px;
}

h1{
color:white;
}

h3{
color:white;
}

#topper{
border-style:solid;
border-right-width:0px;
border-left-width:0px;
border-top-width:0px;
border-bottom-width:1px;
border-color:#c40c1d;

height:500px;
}



.row{
padding-top:0px;
}

.container{
padding: 10px;
-webkit-border-radius: 10px;

}

#everything{
background: url('../images/husk.png') ;
height:1310px;
}

ul {
list-style-type: none;
}

#breadcrumb{
margin-right:200px;

}

.breadcrumb a{
color:black;

}






#banner{
height:125px;

-webkit-border-radius: 10px 0px 0px 0px;

-moz-border-radius: 10px 0px 0px 0px;


/*
background: url('../images/louisiana_banner2.png');
}

#banner li{
color:black;

float:right;

width:105px;
padding-top:12px;
}




#maincontent{
height: 980px ;
background:white;


}

#footer {
margin-top:12px;
clear: both;
width: 940px;
background-color: #9A987D;
padding: 10px 0px 0px 0px;
border-color: #999;
border-style: solid;
border-width: 1px 1px 1px 1px;
position:absolute;
-webkit-border-radius: 0px 0px 10px 0px;
-moz-border-radius: 0px 0px 10px 0px;
height:80px;
}

#footer li{
height:20px;
font-size:12px;
float:left;
width:135px;
display:block;
margin-left: 0px;
margin-bottom:0px;
padding: 0px 5px 0px 5px ;
border-style:solid;
border-width:0px 1px 0px 0px;
color:white;
text-align:center;
}
*/